<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>BBDPDoctor</display-name>
	<welcome-file-list>
		<welcome-file>Login.html</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>bbdp.db.controller.ServletListener</listener-class>
	</listener>
	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc:mysql://localhost/</param-value>
	</context-param>
	<context-param>
		<param-name>database</param-name>
		<param-value>bbdp</param-value>
	</context-param>
	<context-param>
		<param-name>user_name</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>15192353</param-value>
	</context-param>
	<servlet>
		<servlet-name>PatientBasicInformationServlet</servlet-name>
		<servlet-class>bbdp.doctor.controller.PatientBasicInformationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PatientBasicInformationServlet</servlet-name>
		<url-pattern>/PatientBasicInformationServlet</url-pattern>
	</servlet-mapping>





</web-app>